*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation-bar {
  background: rgb(0, 97, 153);
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.create_board-colors {
  display: flex;
  flex-flow: row wrap;
}

.board__card {
  height: 8rem;
  width: auto;
  cursor: pointer;
  position: relative;
}

.board__actions {
  position: absolute;
  bottom: 5px;
  right: 3px;
}

.board__actions > button {
  /* to override semantic ui styling */
  background-color: transparent !important;
}

.board__header {
  justify-self: center;
}

.lists {
  flex: 1;
  overflow: auto;
  white-space: nowrap;
  height: 90%;
}

.list__wrapper {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.styled__list {
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  padding: 8px;
}

.add__list {
  width: 272px;
  margin: 0 4px;
  display: inline-block;
}

.list__title {
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.cards__card {
  cursor: pointer;
}

.cards__card:hover {
  background-color: #dbeafe;
  box-shadow: 5px 5px 5px #d1d5db;
}

.cards__content {
  display: flex;
  align-items: center;
  position: relative;
}

.cards__content--actions {
  position: absolute;
  right: 0;
}

.content-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
